.pokemon-card {
	position: absolute;
	background-color: cornsilk;
	top: 170px;
	left: 10%;
	width: 35%;
	border-radius: 10px;
	padding: 20px;
	.name-placeholder {
		position: absolute;
		top: -5%;
		right: 2%;
		background-color: cornsilk;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 15px;
		padding-left: 15px;
		padding-top: 8px;
		padding-bottom: 15px;
		padding-right: 15px;
		border-radius: 7px 7px 0px 0px;
	}
	.pictures {
		display: flex;
		text-align: center;
		font-weight: bold;
		.picture {
			height: 200px;
			width: 33%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			border: 7px ridge antiquewhite;
			&.front {
				&::before {
					content:'Front';
					position: absolute;
					width: 100%;
					height: 20px;
					top: 0;
					left: 0;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
			&.back {
				&::before {
					content:'Back';
					position: absolute;
					width: 100%;
					height: 20px;
					top: 0;
					left: 0;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
			&.shiny {
				&::before {
					content:'Shiny';
					position: absolute;
					width: 100%;
					height: 20px;
					top: 0;
					left: 0;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}
	}
	.weight-height {
		display: flex;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 20px;
		> * {
			width: 50%;
			span {
				font-weight: bold;
			}
		}
	}
	.stats-moves {
		display: flex;
		> * {
			width: 50%;
		}
		.moves {
			padding: 0;
			margin: 0;
			overflow: scroll;
			height: 200px;
			li {
				height: 50px;
				border-radius: 50px;
				display: flex;
				//justify-content: center;
				align-items: center;
				border: 3px ridge antiquewhite;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				&:nth-child(2n+1) {
					background-color: moccasin;
				}
				.poke-icon {
					width: 35px;
					height: 35px;
					margin-right: 20px;
					margin-left: 30px;
				}
			}
		}
	}
	.types {
		display: flex;
		position: absolute;
		top: -3%;
		.type-badge {
			width: 70px;
			text-align: center;
			border-radius: 50px;
			padding: 3px 0px;
			margin-right: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			border: 2px solid antiquewhite;
			color: white;
		}
	}
}

.pre-evol, .next-evol {
	position: absolute;
	left: 55%;
	background-color: cornsilk;
	width: 500px;
	height: 200px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	a {
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 20px;
		.name { margin-top: 10px; }
		.evol-badge {
			border-radius: 50%;
			border: 3px solid antiquewhite;
			padding: 50px;
		}
	}
}

.pre-evol {
	top: 170px;
	&::before {
		content: 'Pre-evolutions';
		position: absolute;
		top: 4%;
		left: 2%;
		text-transform: uppercase;
		color: burlywood;
		font-weight: bold;
	}
}

.next-evol {
	top: 512px;
	&::before {
		content: 'Next-evolutions';
		position: absolute;
		top: 4%;
		left: 2%;
		text-transform: uppercase;
		color: burlywood;
		font-weight: bold;
	}
}