.stats {
	padding: 0px 30px;
	> * {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		font-weight: bold;
	}
	.stat-bar {
		background-color: white;
		height: 15px;
		width: 70%;
		border-radius: 20px;
		.value {
			background-color: teal;
			height: 100%;
			text-align: center;
			color: transparent;
			font-weight: initial;
			font-size: 10px;
			border-radius: 20px 2px 2px 20px;
			&:hover { color: antiquewhite; }
		}
	}
}